<tr>
  <td><%= task_log.name %></td>
  <td><%= task_log.execution_status %></td>
  <td><%= task_log.execution_start_date %></td>
  <td><%= task_log.error_log %></td>
  <td><%= task_log.execution_time %></td>
</tr>
